# Backend
DATABASE_URL=postgresql://user:password@postgres:5432/primus
REDIS_URL=redis://redis:6379/0
MQTT_BROKER_HOST=mosquitto
MQTT_BROKER_PORT=1883

# Postgres
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=primus

# Frontend
VITE_API_URL=http://localhost:8000
