# Backend
DATABASE_URL=postgresql+asyncpg://user:password@postgres:5432/primus
REDIS_URL=redis://redis:6379/0
MQTT_BROKER_HOST=mosquitto
MQTT_BROKER_PORT=1883
ENVIRONMENT=local #production | local
SECRET_KEY=1234

# Postgres
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=primus

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
CELERY_TIMEZONE=Europe/Warsaw

# Storage
REPORT_DIR=/data/reports
MEDIA_ROOT=/data/media

# Reports
REPORTS_SCHEDULE_HOUR=7 #0-23
REPORTS_SCHEDULE_MINUTE=30 #0-59

AI_RETRAIN_SCHEDULE_HOUR=2 
AI_RETRAIN_SCHEDULE_MINUTE=0

# Frontend
VITE_API_URL=http://localhost:8000
